@import "variabels";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background: $bg;
}
main{
  // display: flex;
  // flex-direction: column;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
  width: 550px;
  margin: 0 auto;
  header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 192px;
    font-size: 48px;
    font-weight: bold;
  }
  section{
    .section__one{
      display: flex;
      margin-top: 40px;
      input{
        width: 420px;
        height: 50px;
        border-radius: 8px;
        background: $grey;
        border:  $grey;
        padding: 17px 20px;
        margin-right: 20px;
      }
      button{
        width: 110px;
        height: 50px;
        background-color: $bgBtn;
        border-radius: 8px;
        border: none;
      }
      button:hover{
        background: $bgBtnHvr;
        cursor: pointer;
      }
    }
    ::placeholder{
      font-family: 'Poppins', sans-serif;
    }
    .section__lable{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      background: $grey;
      border-radius: 8px;
      width: 550px;
      height: 100px;
    }
  }
  .counter{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 36px;
    .task-counter{
      display: none;
      margin-right: 135px;
    }
    .clear-button{
      display: flex;
      justify-content: center;
      align-items: center;
      .clear-button-bg{
        display: none;
        width: 200px;
        height: 40px;
        background: $bgBtn;
        border: none;
        border-radius: 8px;
        color: $bg;
        font-weight: 600;
      }
      .clear-button-bg:hover{
        background: $bgBtnHvr;
      }
    }
  }
}
