@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background: #F5F5F5;
}

main {
  width: 550px;
  margin: 0 auto;
}
main header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 192px;
  font-size: 48px;
  font-weight: bold;
}
main section .section__one {
  display: flex;
  margin-top: 40px;
}
main section .section__one input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  padding: 17px 20px;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
}
main section .section__one button {
  width: 110px;
  height: 50px;
  background-color: #2997FF;
  border-radius: 8px;
  border: none;
}
main section .section__one button:hover {
  background: #1D84E4;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
main section ::-moz-placeholder {
  font-family: "Poppins", sans-serif;
}
main section ::placeholder {
  font-family: "Poppins", sans-serif;
}
main section .section__lable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background: #F2F2F2;
  border-radius: 8px;
  width: 550px;
  height: 100px;
}
main .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
}
main .counter .task-counter {
  display: none;
}
main .counter .task-counter .count {
  font-weight: bold;
}
main .counter .clear-button .clear-button-bg {
  display: none;
  width: 200px;
  height: 40px;
  background: #2997FF;
  border: none;
  border-radius: 8px;
  color: #F5F5F5;
  font-weight: 600;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
}
main .counter .clear-button .clear-button-bg:hover {
  background: #1D84E4;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
main .newSpan {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #F2F2F2;
  border-radius: 8px 0 0 8px;
  padding-left: 20px;
}
main .newDiv {
  display: flex;
  margin-top: 10px;
}
main .newBtn {
  width: 66px;
  height: 50px;
  background: #E75D5D;
  border-radius: 0 8px 8px 0;
}
main .newBtn:hover {
  background: #D84F4F;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
main .newImg {
  width: 25px;
  height: 25px;
}
main .newCount {
  font-weight: bold;
}

@media (max-width: 650px) {
  body {
    width: 288px;
  }
  main {
    width: 288px;
    margin: 0 auto;
  }
  main header h1 {
    font-size: 36px;
  }
  main section {
    width: 288px;
  }
  main section .newSpan {
    height: 74px;
  }
  main section .newBtn {
    height: 74px;
  }
  main section .section__one {
    display: flex;
    flex-direction: column;
  }
  main section .section__one .add-Botton {
    width: 100%;
    margin-top: 12px;
  }
  main section .section__lable {
    width: 100%;
  }
  main section .section__lable .js-inp {
    text-align: center;
    padding: 10px;
  }
  main .counter {
    flex-direction: column;
    width: 100%;
  }
  main .counter .clear-button .clear-button-bg {
    width: 288px;
    font-family: "Poppins", sans-serif;
  }
}/*# sourceMappingURL=style.css.map */